h1 {
  color: red;
  /* color: green; */
  background-color: gray;
  /* background-color: black; */
  font-size: 30px;
  border: 3px solid red;
  padding: 16px;
  border-radius: 20px;
  transition: 1s;
}

h1:hover {
  background-color: white;
}

h2 {
  color: blue;
  /* color: red; */
}

h3 {
  color: green;
  /* color: blue; */
}
